*{
    margin: 0%;
    padding: 0%;
}

.kit{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: rgba(245, 6, 57, 0.904);
}

nav{
    width: 100%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    background: blue;
    font-size: x-large;
}

.logo{
    flex-basis: 20%;
}
.logo img{
    width: 120px;
    height: 50px;


}

.our-link{
    flex: 1;
    text-align: right;
}

.our-link ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.our-link ul li a{
    color: black;
    text-decoration: none;
}